@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

html {
    height: 100%;
}

body {
  background: linear-gradient(top, rgb(66, 68, 218), rgb(13, 152, 156));
  overflow: hidden;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

canvas {
  display: block;
}

.title {
    position: absolute;
    top: 10px;
}

.score {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  color: rgb(20, 34, 167);
  font-size: 25px;
}
